/* this css is for form page, to connect with author */
body {
    font-size:20px;
}
/* whole background that is the ferry and flower on the back */
div.background {
  position:absolute;
  top:0px;
  left:40px;
  width:1448px;
  border: 550px;
}


/* menu background */
div.menuback {
  background-color: white;
  position:absolute;
  width:1440px;
  top:0px;
  height: 70px;
  margin-left: 35px;
  border-radius: 6px;
}
/* menu words */
div.home {
  position:absolute;
  top: 26px;
  left:254px;
}
div.scenery {
  position:absolute;
  top: 26px;
  left:504px;
}
div.form {
  position:absolute;
  top: 26px;
  left:804px;
}
div.sitemap {
  position:absolute;
  top: 26px;
  left:1054px;
}
#menu li {
  display: inline;
  padding: 50px;
}
#menu a {
    text-decoration: none;
    color: #6699CC;
    padding: 8px 58px 8px 8px;
}
#menu a:link {
    color: #6699CC;
}
/* visited link */
#menu a:visited {
    color: #006699;
}
/* mouse over link */
#menu a:hover {
    color: #CCCCFF;
}

/* connecting form in right hand side */
div.form1 {
  position: fixed;
  font-family: "Times New Roman",Times,Helvetica,Arial,sans-serif;
  font-weight: normal;
  text-align: left;
  top:200px;
  background: rgb(250,255,255);
  margin-top: 45px;
  margin-left: 900px;
  width:450px;
  border-radius:6px;
  padding:30px;
  font-size: 22px;
  padding-left: 60px;
}

/* sitemap in the bottom line */
div.siteback {
    position:absolute;
    text-decoration:none;
    width:1440px;
    top:857px;
    height: 20px;
    margin-left: 35px;
    border-radius: 6px;
}
/* sitemap table */
#table {
    position:absolute;
    top:850px;
    margin-left: 50px;
    width:40%;
    border-radius:6px;
    padding:5px;
    font-size: 17px;
    text-align:left;
}
#table a {
    text-decoration:none;
}
#table a:link {
    color: #6699CC;
}
/* visited link */
#table a:visited {
    color: #006699;
}
#table a:hover {
    color: #FFCC99;
}
