
#menu {
  position:absolute;
  top: 36px;
  text-align: center;
  font-size: 28px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  border-radius: 6px;
}
#menu ul {
  height: auto;
  padding: 28px 0px;
  margin: 0px;
  }

/* menu word seperate place */
div.home {
    position:absolute;
    top: 26px;
    left:160px;
}

div.scenery {
    position:absolute;
    top: 26px;
    left:320px;
}

div.form {
    position:absolute;
    top: 26px;
    left:510px;
}

div.sitemap {
    position:absolute;
    top: 26px;
    left:670px;
}

div.phogallery {
    position:absolute;
    top: 26px;
    left:900px;
}

div.enjoy {
    position:absolute;
    top:26px;
    left:1160px;
}
#menu li {
  display: inline;
  padding: 50px;
}
#menu a {
    text-decoration: none;
    color: #6699CC;
    padding: 8px 58px 8px 8px;
}
#menu a:link {
    color: #6699CC;
}

/* visited link */
#menu a:visited {
    color: #006699;
}

/* mouse over link */
#menu a:hover {
    color: #CCCCFF;
}
